body {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}

main {
    height: 100vh;
    position: relative;
    opacity: 0.85;
    padding: 10px 0;
}

.confirmation-modal {
    //top: 50%;
    //transform: translateY(-50%);
}

.page-wrap {
}

.width100 {
    width: 100%;
}

.service-logos img {
    height: 140px;
    /*position: relative;*/
    /*top: 40%;*/
    /*transform: translateX(-50%);*/
}

.service-main-logo {
    position: relative;
    /*top: 30%;*/
    /*transform: translateY(-50%);*/
}

.registration-link {
    color: white;
    font-weight: bold;
}

.vertical-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.registration-button {
    position: absolute;
    bottom: 5px;
    width: 100%;
}

.logout-button {
    position: absolute;
    bottom: 5px;
    right: 0;
    color: white;
    font-weight: bold;
}

.pull-bottom {
    position: absolute;
    bottom: 5px;
}

.additional-info-area {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    resize: none;
}

.additional-info-button {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

#js-call-type {
    font-weight: bold;
    text-align: center;
 }